<section id="splash" class="z-depth-1 valign-wrapper">
  <div class="container">
    <%= image_tag("tech.svg", class: 'tech-image hide-on-med-and-down') %>
    <div class="splash-message white-text center-align">
        <h1>Software & Data at your fingertips.</h1>
        <h5>Our goal is to provide greater access to data and software produced in leading research institutions across country.</h5>
        <%= link_to 'Get Started', new_user_registration_path, class: 'btn waves-effect' %>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="about-title">
      <h4 class="center-align with-subtitle">Catalyst Research Alliance</h4>
      <h5 class="subtitle center-align">A marketplace for innovative intellectual property and research data</h5>
    </div>
    <div class="row three-paragraphs center-align">
      <div class="col m4 s12">
        <div class="row">
          <div class="col s4 offset-s4 m6 offset-m3">
            <%= image_tag("search.svg") %>
          </div>
        </div>
        <h5>Software</h5>
        <p>Catalyst is a marketplace to find software produced by leading researchers across a variety of fields at universities.</p>
      </div>
      <div class="col m4 s12">
        <div class="row">
          <div class="col s4 offset-s4 m6 offset-m3">
            <%= image_tag("cloud-computing.svg") %>
          </div>
        </div>
        <h5>Data</h5>
        <p>Our datasets created and curated by researchers in the fields of agriculture, genomics, therapeutics, and environmental sciences.</p>
      </div>
      <div class="col m4 s12">
        <div class="row">
          <div class="col s4 offset-s4 m6 offset-m3">
            <%= image_tag("idea.svg") %>
          </div>
        </div>
        <h5>Partner</h5>
        <p>North Carolina State University is our first partner. Contact us to find out more about becoming a partner with Catalyst Research.</p>
      </div>
    </div>
  </div>
</section>
