<section id="splash" class="z-depth-1 valign-wrapper">
  <div class="container">
    <%= image_tag("tech.svg", class: 'tech-image hide-on-med-and-down') %>
    <div class="splash-message white-text center-align">
        <h1>Software & Data at your fingertips.</h1>
        <h5>Our goal is to provide greater access to data and software produced in leading research institutions across country.</h5>
        <%= link_to 'Get Started', new_user_registration_path, class: 'btn waves-effect' %>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="about-title">
      <h4 class="center-align with-subtitle">Code Alliance</h4>
      <h5 class="subtitle center-align">Search Software and Data by categories</h5>
    </div>
    <div class="row three-paragraphs center-align">
      <div class="col m4 s12">
        <div class="row">
          <div class="col s4 offset-s4 m6 offset-m3">
            <%= image_tag("search.svg") %>
          </div>
        </div>
        <h5>Software</h5>
        <ul>
          <li>Genomics</li>
          <li>Diagnostics</li>
          <li>Chemicals</li>
          <li>Enginerring </li>
          <li>MEMS</li>
        </ul>
      </div>
      <div class="col m4 s12">
        <div class="row">
          <div class="col s4 offset-s4 m6 offset-m3">
            <%= image_tag("cloud-computing.svg") %>
          </div>
        </div>
        <h5>Data</h5>
        <ul>
          <li>Agriculture</li>
          <li>Genomics</li>
          <li>Environment</li>
          <li>Economics</li>
          <li>Therapeutic</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="customers">
  <div class="container">
    <div class="row">

      <div class="col s12 m4">
        <div class="card row white">
          <div class="col l3">
            <%= image_tag("book.svg", class: "hide-on-med-and-down") %>
          </div>
          <div class="col m12 l9 teal-text text-lighten-2">
            <span><h6>CodeAlliance for Academics</h6><i class="material-icons right">trending_flat</i></h6></span>
            <p>Kitty Ipsum and more info here about the specific user</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card row white">
          <div class="col l3">
            <%= image_tag("finances.svg", class: "hide-on-med-and-down") %>
          </div>
          <div class="col m12 l9 blue-text text-lighten-1">
            <span><h6>CodeAlliance for Business</h6><i class="material-icons right">trending_flat</i></h6></span>
            <p>Kitty Ipsum and more info here about the specific user</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card row white">
          <div class="col l3">
            <%= image_tag("globe.svg", class: "hide-on-med-and-down") %>
          </div>
          <div class="col m12 l9 indigo-text text-lighten-2">
            <span><h6>CodeAlliance for Enterprise</h6><i class="material-icons right">trending_flat</i></h6></span>
            <p>Kitty Ipsum and more info here about the specific user</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
