<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :developer %>
    <%= f.text_field :developer %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :institution %>
    <%= f.text_field :institution %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :product_summary %>
    <%= f.text_field :summary %>
  </div>

  <div class="field">
    <%= f.label :detailed_description %>
    <%= f.text_field :detailed_description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
   <%= f.label :image %>
   <%= f.file_field :image, class: 'field' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
