<section id="products">

  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("abstract-vectors.png") %>
    </div>
    <div class="container">
      <div class="row white-text center-align">
        <h2>Choose a product.</h2>
      </div>
    </div>
  </div>

  <div class="products-container">
    <ul class="collapsible popout" data-collapsible="accordion">
      <% @products.each do |product| %>
        <li class="col s12 m7">
          <div class="card horizontal collapsible-header">
            <div class="card-image valign-wrapper">
              <%= image_tag("CTD.jpg") %>
            </div>
            <div class="card-content">
              <h3 class="grey-text text-darken-4"><%= product.title %></h3>
              <p class="grey-text hide-on-small-only	">The CTD database is a powerful tool for toxicogenomics research.</p>
              <span><%= product.category %></span>
            </div>
          </div>
          <div class="row collapsible-body">
            <span class="col s12">Provides manually curated data on exposure information, chemical-gene-phenotype-disease relationships and tools to analyze these integrated data sets.  Represents a unique centralization of data that is key to understanding and predicting toxicity of chemical compounds including both environmental compounds and drugs.
            Provides unique dataset - no other curated databases that directly address mechanisms by which chemicals may relate to diseases that are publicly available.
            Expansion of  meta-analysis capabilities of software tools for toxicity of chemical compounds (both environmental and drugs)  Improvement of toxicity predictions for drug developers.
            Generally: Understanding the mechanisms by which environmental chemicals or drugs alter molecular pathways related to diseases. Understanding these pathways can improve prevention of exposure-related disorders, identify biomarkers of disease, or fine-tune targets for treatment of implicated diseases.
            Value has already been proven in the research arena, hence the interests from commercial entities after 13+ years of expert curation
            </span>
            <a class="btn-flat waves-effect waves-light col s12">Choose</a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <p id="notice"><%= notice %></p>


  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Developer</th>
        <th>Email</th>
        <th>Institution</th>
        <th>Category</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.developer %></td>
        <td><%= product.email %></td>
        <td><%= product.institution %></td>
        <td><%= product.category %></td>
        <td><%= product.summary %></td>
        <td><%= product.price %></td>

      <% if is_admin? %>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
           %></td>
      <% end %>

      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product', new_product_path %>

</section>
