<div class="products-wrapper">

  <section class="search-wrapper">
    <h5 class="center">Search for Product</h5>
    <form class="white">
      <div class="input-field valign-wrapper">
        <input id="search" type="search" placeholder="Search for a database here" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </section>

  <section id="products">
    <div class='search-header'>
      <% if params[:search].nil? %>
        <%='Featured Technologies' %>
      <% else %>
        <%='Search Results' %>
      <% end %>
    </div>
    <ul>
      <% @products.each do |product| %>
      <li>
        <div class="product">
          <div class="details">
            <h3><%= product.title %></h3>
            <p><%= product.summary %></p>
          </div>
          <div class="developer hide-on-med-and-down">
            <h5><%= product.institution %></h5>
            <h6><%= product.developer %></h6>
          </div>
          <%= link_to 'Product', product, class: "btn-flat waves-effect waves-light col s12" %>
        </div>
      </li>

    </ul>

      <% if is_admin? %>
      <%= link_to 'Show', product_path(product) %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'New Product', new_product_path %>
      <% end %>
    <% end %>
  </section>

</div>
