<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.developer %></td>
    <td><%= product.email %></td>
    <td><%= product.institution %></td>
    <td><%= product.category %></td>
    <td><%= product.price %></td>
    elete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
