<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @product.developer %>
</p>

<p>
  <strong>Email:</strong>
  <%= @product.email %>
</p>

<p>
  <strong>University:</strong>
  <%= @product.institution %>
</p>

<p>
  <strong>Product summary:</strong>
  <%= @product.summary %>
</p>

<p>
  <strong>Detailed description:</strong>
  <%= @product.detailed_description %>
</p>



<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
