<section id="payment">

  <div class="container">
    <p>Licensed product: <%= Product.find(@license.product_id).title %></p>
    <p>Company name: <%= current_user.organization %></p>
    <p>Address: <%= @license.address %></p>
    <label class="amount">
      <p>Price: <%= @license.price %></p>
    </label>
  </div>
</section>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="License Fee"
  data-amount=@license.price
  data-locale="auto">
</script>
