<!DOCTYPE html>
<html>
  <head>
    <title>CodeAlliance</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body>
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper">
      <%= link_to 'CodeAlliance', root_path, class: 'brand-logo' %>
      <ul class="right ">
        <li class="search"><i class="material-icons">search</i></a></li>
        <li class="link"><%= link_to 'Product', pricing_path %></li>
        <li class="link"><%= link_to 'Pricing', pricing_path %></li>
        <li class="link">
          <%= link_to new_user_session_path do %>Log In
            <i class="material-icons left">perm_identity</i>
          <% end %>
        </li>
        <li class="link">
          <%= link_to destroy_user_session_path, method: :delete do %>Log out
            <i class="material-icons left">perm_identity</i>
          <% end %>
        </li>
        <li><%= link_to 'Get Started', new_user_registration_path, class: 'waves-effect btn-flat' %></li>
      </ul>
    </div>
  </nav>

  <form id="search" class="scale-transition scale-out">
    <div class="input-field valign-wrapper">
      <input type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons close">close</i>
    </div>
  </form>

   <div class="container">
     <% flash.each do |key, value| %>
       <div class="alert alert-<%= key %>">
         <%= value %>
       </div>
     <% end %>
   </div>

  <%= yield %>

  <footer class="page-footer transparent">
    <div class="container">
      <div class="row">
        <div class="col s4">
          <h5 class="white-text">CodeAlliance</h5>
        </div>
        <div class="col s4">
          <h5 class="white-text">Quick Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Our Story</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Why CodeAlliance</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          </ul>
        </div>
        <div class="col s4">
          <h5 class="white-text">Products</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">CTD</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">CBRA</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">DBAT</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">GazeGis</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">SAFARIS</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>


 </body>
</html>
