<!DOCTYPE html>
<html>
  <head>
    <title>CodeAlliance</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header>
    <nav class="white z-depth-0">
      <div class="nav-wrapper">
        <%= link_to 'Catalyst Research', root_path, class: 'logo light-blue-text text-darken-3' %>

        <!-- Mobile Side Nav -->
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons link">menu</i>
        </a>
        <ul class="side-nav light-blue-text text-darken-3" id="mobile-demo">
          <li class="details blue">
            <div class="row">
              <h4>Catalyst Research</h4>
            </div>
          </li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Pricing', pricing_path %></li>
          <li><%= link_to 'Products', products_path %></li>
        </ul>

        <!-- Desktop Nav -->
        <ul class="right hide-on-med-and-down">
          <li class="link"><%= link_to 'Search', products_path %></li>
          <li class="link"><%= link_to 'Data', products_path %></li>
          <li class="link"><%= link_to 'Software', products_path %></li>

          <% if user_signed_in? %>
          <li class="link">
            <%= link_to destroy_user_session_path, method: :delete do %>Log out
            <i class="material-icons left">perm_identity</i>
            <% end %>
          </li>

          <% else %>
          <li class="link"><%= link_to new_user_session_path do %>Log In
            <i class="material-icons left">perm_identity</i>
            <% end %>
          </li>
          <% end %>


          <li class="link"><%= link_to 'Register', new_user_registration_path, class: 'btn-flat' %></li>
        </ul>

      </div>
    </nav>
  </header>

  <main>
    <div class="alert">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
      <% end %>
    </div>

    <%= yield %>

  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="center col s4 offset-s4">
          <h5 class="white-text">Catalyst Research</h5>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
<!-- Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> -->
