<!DOCTYPE html>
<html>
 <head>
    <title>CodeAlliance</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>
 <body>
  <nav clas>
    <div class="nav-wrapper">
      <%= link_to 'CodeAlliance', root_path, class: 'brand-logo' %>
      <ul class="right ">
        <li class="search"><i class="material-icons">search</i></a></li>
        <li class="link"><%= link_to 'Product', pricing_path %></li>
        <li class="link"><%= link_to 'Pricing', pricing_path %></li>
        <li class="link">
          <%= link_to new_user_session_path do %>Log In
            <i class="material-icons left">perm_identity</i>
          <% end %>
        </li>
        <li><%= link_to 'Get Started', new_user_registration_path, class: 'amber accent-3 btn' %></li>
      </ul>
    </div>
  </nav>
  <form id="search">
    <div class="input-field">
      <input type="search" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>

   <div class="container">
     <% flash.each do |key, value| %>
       <div class="alert alert-<%= key %>">
         <%= value %>
       </div>
     <% end %>
   </div>

  <%= yield %>

 </body>
</html>
